:root {
  --font-primary: "Piazzolla", serif;
  --font-secondary: "Poppins", sans-serif;
  --color-primary: #221818;
  --color-secondary: rgba(255, 241, 221, 30%);
}
body {
  background-color: var(--color-primary);
}
h1,
h2,
h3 {
  font-family: var(--font-primary);
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
}
.navbar {
  margin: 5px 120px;
  min-width: 300px;
}
.navbar-collapse {
  justify-content: flex-end;
}
.hero {
  margin: 20px 90px;
}
.me {
  width: 150px;
  border-radius: 236px;
}
.me-small {
  width: 50px;
  border-radius: 236px;
}
.container {
  min-width: 300px;
}
.content-container {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0 91.5px 91.5px 91.5px;
  padding: 50px;
  text-align: center;
}
.hero-paragraph {
  font-family: var(--font-secondary);
  line-height: 2;
}
.project-top {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: 24px;
  color: white;
  opacity: 70%;
  text-align: center;
  padding-top: 60px;
}
.project-container {
  margin: 20px 90px;
}

.project-logo-img,
.about-logo-img {
  width: 160px;
  margin: 0 auto;
}

.project-box {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0 91.5px 91.5px 91.5px;
  padding: 50px;
  text-align: center;
}
.project-title,
.about-title {
  font-weight: 700;
  font-size: 36px;
}
.project-button,
.about-button {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-weight: 700;
  opacity: 80%;
  padding: 8px 20px;
  margin-top: 10px;
}
.about-text {
  max-width: 1000px;
  margin: 0px auto;
  position: relative;
  top: -45px;
  z-index: -1;
  padding-bottom: 100px;
}
.about-logo-img {
  position: relative;
  top: 80px;
}
.about-me-img {
  position: relative;
  left: 100px;
}
.about-button-container {
  text-align: center;
  position: relative;
  top: -140px;
}
@media (max-width: 1300px) {
  .about-me-img {
    position: unset;
    left: unset;
  }
}
@media (max-width: 500px) {
  .navbar {
    margin: 5px 20px;
  }
}
@media (max-width: 800px) {
  .navbar {
    margin: 5px 20px;
  }
  .hero-text {
    padding: 25px;
  }
  .hero {
    margin: 35px 7px;
  }
  .avatar {
    text-align: center;
  }
  .project-top {
    padding-top: 10px;
    font-size: 18px;
  }
  .project-container {
    margin: 35px 7px;
  }
  .project-box {
    padding: 25px;
    margin-top: 10px;
  }
  .project-logo-img {
    width: 120px;
    margin: 0 auto;
  }
  .about-logo-img {
    margin-bottom: 10px;
    left: unset;
    position: unset;
  }
  .about-text {
    margin: 0px 20px;
    padding-top: 70px;
  }

  .about-me-img {
    position: unset;
    left: unset;
  }
}
@media (max-width: 767px) {
  .project-title {
    padding-top: 20px;
  }
}
@media (max-width: 990px) {
  .project-box {
    margin-top: 10px;
  }
}
